.header {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}

nav {
    flex-grow: 1;
}

.header__logo {
    background-color: var(--clr-light);
    padding: 0em 0.5em;
    border-radius: 2px;
    font-weight: 1000;
    font-size: var(--size-lg);
    letter-spacing: 2px;
    color: var(--clr-zinc800);
    margin-right: 1em;
}

.header__menu {
    display: none;
}

.header__bars {
    color: var(--clr-zinc400);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: inline-flex;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .header__logo {
        font-size: var(--size-2xl);
    }

    .header__menu {
        display: inline-flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }

    .header__link {
        display: flex;
        font-size: var(--size-xs);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-zinc400);
        letter-spacing: -0.05em;
        padding: 0.5em 1em;
        border-radius: 2px;
        transition: color 0.3s, background-color 0.3s;
    }
    
    .header__link:hover {
        color: var(--clr-sky);
        background-color: var(--clr-zinc600);
    }

    .header__line {
        border: 1px solid var(--clr-zinc400);
        padding-top: 1.5em;
    }

    .header__sun {
        display: block;
        color: var(--clr-zinc400);
        width: var(--size-base);
        height: var(--size-base);
        margin-right: 2em;
    }

    .header__bars {
        display: none;
    }
}

/* lg */
@media (min-width: 1024px) {
    .header__logo {
        font-size: var(--size-3xl);
    }

    .header__link {
        font-size: var(--size-sm);
    }

    .header__sun {
        width: var(--size-xl);
        height: var(--size-xl);
    }

}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */